@import '../main.component.scss';

.column {
  h3 {
    background-color: rgba(109,109,232, 0.6);
    padding: 15px;
    border-radius: 5px;
    font-family: Miso Bold, Arial;
    font-size: 30px;
  }
}
