<app-header></app-header>
<section class="content">
  <div class="container">
    <div class="colums text-center">
      <div class="column">
        <img id="avatar" src="assets/images/profile.jpg" alt="Profile picture"/>
      </div>
    </div>
  </div>
</section>
<section class="content text-center background-base-color medium-block">
  <div class="container">
    <div class="colums content-center">
      <div class="column">
        <h1>Hi! Mijn naam is Daryl</h1>
        <p>
          Leergierig en doorzettingsvermogen zijn twee woorden die mij goed omschrijven. Ik vindt het leuk om nieuwe dingen te leren en mijn kennis te verbreden. In het dagelijks leven ben ik bezig met mijn studie, doe ik hier en daar wat projecten voor mezelf. Uiteindelijk wil ik gaan werken als een full-stack developer en / of mobile development.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="content content-center medium-block">
  <div class="container">
    <h1 class="text-center">Vaardigheden</h1>
    <div class="columns skill">
      <div *ngFor="let skill of skills | keyvalue">
        <app-skill [skillName]="skill.key" [skillValue]="skill.value"></app-skill>
      </div>
    </div>
  </div>
</section>
<section class="content content-center medium-block background-base-color">
  <div class="container">
    <h1 class="text-center">Projecten</h1>
    <div class="columns repo">
      <div *ngFor="let repo of repositories">
        <app-repo [name]="repo.name" [description]="repo.description" [html_url]="repo.html_url"></app-repo>
      </div>
    </div>
  </div>
</section>

