nav {
  padding: 10px;
  font-family: "Miso Bold", sans-serif;
  .navbar-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
  }

  .navbar-items {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;

    .navbar-items-left {
      margin-right: auto;
      align-items: flex-start;
    }

    .navbar-items-right {
      margin-left: auto;
      align-items: flex-end;
    }
  }

  h1 {
    font-size: 45px;
  }

  .icon {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    margin-top: 25px;
    display: inline-block;
  }
}
